doctype html
html(lang='ko')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet' href='/static/style.css')
  body
    nav
      .container
        h2 Numflow Framework
        ul
          li: a(href='/') Home
          li: a(href='/users') Users
          li: a(href='/about') About

    main.container
      h1= message

      section.card
        h2 Features
        ul.features-list
          each feature in features
            li ✓ #{feature}

      section.card
        h2 Getting Started
        p This example demonstrates how to use Pug templates with Numflow framework.
        p Check out the
          a(href='/users') user list
          |  to see more examples.

    footer
      .container
        p Powered by Numflow Framework
